/* 拉近 词典名称条 之间的距离。如果太近，就会重叠。 */
.gdarticle { margin-top: .3rem; margin-bottom: 0; }

/* 隐藏 词典名称 外部容器的蓝色背景和边框 */
.gddictname {
font-size: .625rem;
margin: -.0625rem 0;
padding-left: 0;
vertical-align: bottom;
border-width: 0;
background-color: transparent;
}

/* 加粗 词典名称 文字的下边框 */
.gddicttitle {
position: relative;
top: .01rem;
padding-bottom: .0625rem;
color: gray;
border-bottom: .23rem solid gray;
}

/* 隐藏 词典图标 和 “来自于……” */
.gddicticon,.gdfromprefix { display: none; }

/* 隐藏 右侧箭头，调整尺寸、边框 */
.gdcollapseicon,.gdexpandicon {
position: relative;
top: .2745rem;
/* w:h = 1:1 */
width: .645rem;
/* w:h = 2:1 */
/* width: 1.45rem; */
height: .475rem;
border: .08rem solid gray;
background-color: transparent;
background-image: none;
}

/* 展开、鼠标悬停的展开、折叠、鼠标悬停的折叠，共四种样式 */
.gdexpandicon { background-color: gray; }
.gdexpandicon:hover { border-color: black; background-color: black; background-image: none; }
.gdcollapseicon { border-bottom-width: .25rem; }
.gdcollapseicon:hover { border-color: black; background-image: none; }

/* 分割线 */
.gddictnamebodyseparator { display: block; margin-bottom: -.0625rem; border-top: .08rem solid gray; }

/* 拉近 mdx 和 dsl 词典内容 与它们的 词典名称条 距离 */
.mdict,.dsl_article { margin-top: .625rem; }