QToolTip, /* 按钮或链接的提示信息 */
ArticleView #searchText, /* 按 Ctrl+F 后的搜索框 */
MainStatusBar #text, /* 右下角的提示信息 */
ScanPopup #translateLine, /* 弹出窗口的搜索框 */
MainWindow #translateLine, /* 主窗口的搜索框 */
MainWindow #wordList, /* 搜索框下方的单词列表 */
MainWindow #dictsPane #dictsList, /* 查到单词的词典列表 */
MainWindow #historyPane #historyList, /* 历史面板的单词列表 */
MainWindow #favoritesPane #favoritesTree /* 收藏面板的单词列表 */
{ font-size: 13px; }

/* WARNING: hides all separators! */
#navToolbar::separator {
  width: 0px;
}

/* Another way to hide specific separators */
#navToolbar #beforeOptionsSeparator, #navToolbar #beforeScanPopupSeparator, #navToolbar #afterScanPopupSeparator, #navToolbar #separatorBeforeZoom, #navToolbar #separatorBeforeSave {
  background: rgba(0,0,0,0%);
  width: 0px;
  margin: -3px;
}


/* Hide various buttons in the toolbar: */
#navToolbar #menuButtonXX, #navToolbar #soundButtonXX, #navToolbar #backButton, #navToolbar #forwardButton, #navToolbar #zoomInButton, #navToolbar #zoomOutButton, #navToolbar #zoomBaseButton, #navToolbar #saveArticleButton, #navToolbar #printButton {
  width:   0px;
  height:  0px;
  margin:  -3px;
}

/* remove the main toolbar handle */
#navToolbar::handle, #dictionaryBar::handle {
  image: none;
  width:  0px;
  margin-left: 1px;
}

#navToolbar #scanPopupButton {
  margin-left: 5px;
}

/* Colored header for the "Found in Dictionaries:" pane */
#dictsPaneTitleBar {
  background: lightblue;
  margin: 2px;
}

/* Colored header for the History Pane */
#historyPaneTitleBar {
  background: lightsteelblue;
  margin: 2px;
}

/* Thin separators between the main UI and sidebars */
QMainWindow::separator {
     width:  1px; /* when vertical */
     height: 1px; /* when horizontal */
}

ScanPopup #goBackButtonAA,
/* ScanPopup #queryError,        */
ScanPopup #goForwardButtonAA,
ScanPopup #wordListButtonXX,
ScanPopup #pronounceButtonAA,
ScanPopup #sendWordButtonXX
/* ScanPopup #showDictionaryBar, */
/* ScanPopup #pinButton */
{
  width: 0px;
  height: 0px;
  margin: -4px;
}
